{% extends 'project/base.html' %}

{% block content %}
    <h2>Lista de Usuários</h2>
    <ul class="list-group">
        {% for usuario in usuarios %}
            <li class="list-group-item {{ usuario.id }}">
				<span>
					{{ usuario.nomePerfil }} ({{ usuario.email }}) - {{ usuario.cidade }}/{{ usuario.estado }}
				</span>
				<button>Editar</button>
				<button>Excluir</button>
            </li>
        {% empty %}
            <li class="list-group-item">Nenhum usuário cadastrado.</li>
        {% endfor %}
    </ul>
{% endblock %}
