MYSQL_PORT=8080
MYSQL_ROOT_PASSWORD=rootpassword

# Descomente a linha de baixo para enviar mensagem por email.
# EMAIL_SENDER=BREVO
EMAIL_HOST_USER={{email fornecido por BREVO}}
EMAIL_HOST_PASSWORD={{token fornecido por BREVO}}
